<div class="parent-box">
    <div class="child-box">
        <img src="../../../assets/Products/product01.jpg" alt="Car">
        <div class="detail">
            <h3>Car</h3>
            <p>Price : ₹123</p>
            <button>Detail</button>
        </div>
    </div>

    <!-- Duplicate more products -->
    <div class="child-box">
        <img src="../../../assets/Products/product03.jpg" alt="Watch">
        <div class="detail">
            <h3>face Wash</h3>
            <p>Price : ₹299</p>
            <button>Detail</button>
        </div>
    </div>
    <div class="child-box">
        <img src="../../../assets/Products/product02.jpg" alt="Watch">
        <div class="detail">
            <h3>Toy</h3>
            <p>Price : ₹299</p>
            <button>Detail</button>
        </div>
    </div>
</div>